<div class='card' id="{{id}}">
    <div class="card-header">
            <h4>{{title}}</h4>
    </div>
    <div class='card-body'>
        <p>{{post_body}}</p>
        <p class='author'>Published by {{user.username}} on {{format_date createdAt}}</p>
    </div>
</div>